.header1{
  background-image: url("./img/backgroundMenu1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  position: absolute;
  background-size: cover;
}

.header2pagi{
  background-image: url("./img/pagiSiang.jpg");
  position: absolute;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  background-size: cover;
  background-origin: content-box;
}

.header2sore{
  background-image: url("./img/sore.jpg");
  position: absolute;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  background-size: cover;
  background-origin: content-box;
}

.header2malem{
  background-image: url("./img/malem.jpg");
  position: absolute;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  background-size: cover;
  background-origin: content-box;
}

.judul{
  text-align: center;
  color: rgb(197, 51, 51);
}

.slider{
  position: relative;
  margin-top: 6em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nama{
  position: absolute;
  left: -60px;
}

.image{
  width: 375px;
  height: 400px;
  margin-top: 1em;
  border-radius: 10px;
  background-color: rgb(2, 2, 138, 0.6);
  padding: 40px;
}

.right-arrow{
  position: absolute;
  margin-left: 12em;
  font-size: 3rem;
  cursor: pointer;
  color: rgb(197, 51, 51);
  background-color: #000;
  border-radius: 1em;
  transition: 0.3s;
}

.right-arrow:hover{
  color: #000;
  background-color: rgb(197, 51, 51);
}

.left-arrow{
  position: absolute;
  margin-right: 12em;
  font-size: 3rem;
  color: rgb(197, 51, 51);
  background-color: #000;
  border-radius: 1em;
  cursor: pointer;
  transition: 0.3s;
}

.left-arrow:hover{
  color: #000;
  background-color: rgb(197, 51, 51);
}

.slide{
  opacity: 0;
  transition-duration: 1s ease;
}

.slide.active{
  opacity: 1;
  transition-duration: 1s;
  transform: scale(1.08);
}

.formIsi{
  text-align: center;
  margin-top: 3em;
}

.inputnyaNi{
  width: 250px;
  height: auto;
  font-size: 18pt;
  background-color: white;
  border: 2.5px solid rgb(197, 51, 51);
  text-align: center;
  border-radius: 0.5em;
  min-height: 2em;
}

.inputnyaNi::placeholder{
  font-size: 16px;
  font-weight: bold;
}

.pilihanJurusan{
  width: 210px;
  margin-top: 0.3em;
  height: auto;
  font-size: 14px;
  background-color: white;
  border-radius: 0.5em;
  min-height: 2.5em;
  justify-content: center;
}

.transisiInput{
  font-weight: 500;
  color: rgb(159, 212, 129);
}

.pilihHayu{
  background-color: rgb(2, 2, 138, 0.6);
  margin-top: 1.5em;
  width: auto;
  padding: 1.5em;
  padding-right: 2em;
  padding-left: 2em;
  height: auto;
  border-radius: 1em;
  display: inline-block;
}

.btn-dark{
  margin-top: 1em;
  padding: 0.8em 1.5em;
  font-weight: bold;
}

.loadingScreen{
  text-align: center;
  justify-content: center;
  display: grid;
  align-items: center;
  height: auto;
  margin-top: 25%;
}

.readyOrNot{
  background-color: rgb(2, 2, 138, 0.8);
  padding: 1em;
  border-radius: 0.6em;
}

.titleReady{
  color:white;
}

.ready{
  margin: 1em;
  padding: 0.8em;
  font-weight: bold;
}

.noU{
  margin: 1em;
  padding: 0.8em;
  font-weight: bold;
}

.gambarCharYeu{
  width: 375px;
  height: 400px;
  margin-top: 1em;
  border-radius: 10px;
  background-color: rgb(2, 2, 138, 0.6);
  padding: 40px;
  justify-content: center;
  align-items: center;
}

.headerGamepage{
  position: relative;
  display: grid;
  justify-content: center;
  align-items: center;
}

.salam{
  text-align: center;
  margin-top: 1em;
}

.jurusan{
  text-align: center;
  margin-top: 1em;
}

.bar{
  background-color: rgb(2, 2, 138);
  padding: 1em;
  position: relative;
  margin-top: 1em;
  border-radius: 0.5em;
}

.progress{
  margin-top: 2em;
  margin-bottom: 1em;
}
