body{
  font-family: 'PF Ronda Seven', sans-serif
}

.header1{
  background-image: url("./img/backgroundMenu1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100%;
  max-height: 200%;
  width: 100%;
  position: absolute;
  background-size: cover;
}

.header2pagi{
  background-image: url("./img/pagisiangsore.jpeg");
  width: 100%;
  position: absolute;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100%;
  max-height: 200%;
  background-size: cover;
  background-origin: content-box;
}

.header2malem{
  background-image: url("./img/malem.jpeg");
  position: absolute;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100%;
  max-height: 200%;
  background-size: cover;
  background-origin: content-box;
}

.headerKafePagi{
  background-image: url("./img/kafePagiSiang.jpeg");
  position: absolute;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100%;
  max-height: 200%;
  background-size: cover;
  background-origin: content-box;
}

.headerKafeMalem{
  background-image: url("./img/kafeMalem.jpeg");
  position: absolute;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100%;
  max-height: 200%;
  background-size: cover;
  background-origin: content-box;
}

.header2mallpagi{
  background-image: url("./img/backgroundMallSiang.jpg");
  position: absolute;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100%;
  max-height: 200%;
  background-size: cover;
  background-origin: content-box;
}

.header2mallmalem{
  background-image: url("./img/backgroundMallMalem.jpg");
  position: absolute;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100%;
  max-height: 200%;
  background-size: cover;
  background-origin: content-box;
}

.judul{
  text-align: center;
  color: rgb(197, 51, 51);
}

.slider{
  position: relative;
  margin-top: 6em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nama{
  position: absolute;
  left: -60px;
}

.image{
  width: 375px;
  height: 400px;
  margin-top: 1em;
  border-radius: 10px;
  background-color: rgb(2, 2, 138, 0.6);
  padding: 40px;
}

.right-arrow{
  position: absolute;
  margin-left: 12em;
  font-size: 3rem;
  cursor: pointer;
  color: rgb(197, 51, 51);
  background-color: #000;
  border-radius: 1em;
  transition: 0.3s;
}

.right-arrow:hover{
  color: #000;
  background-color: rgb(197, 51, 51);
}

.left-arrow{
  position: absolute;
  margin-right: 12em;
  font-size: 3rem;
  color: rgb(197, 51, 51);
  background-color: #000;
  border-radius: 1em;
  cursor: pointer;
  transition: 0.3s;
}

.left-arrow:hover{
  color: #000;
  background-color: rgb(197, 51, 51);
}

.slide{
  opacity: 0;
  transition-duration: 1s ease;
}

.slide.active{
  opacity: 1;
  transition-duration: 1s;
  transform: scale(1.08);
}

.formIsi{
  text-align: center;
  margin-top: 3em;
}

.inputnyaNi{
  width: 250px;
  height: auto;
  font-size: 18pt;
  background-color: white;
  border: 2.5px solid rgb(197, 51, 51);
  text-align: center;
  border-radius: 0.5em;
  min-height: 2em;
}

.inputnyaNi::placeholder{
  font-size: 16px;
  font-weight: bold;
}

.pilihanJurusan{
  width: 210px;
  margin-top: 0.3em;
  height: auto;
  font-size: 14px;
  background-color: white;
  border-radius: 0.5em;
  min-height: 2.5em;
  justify-content: center;
}

.transisiInput{
  font-weight: 500;
  color: rgb(159, 212, 129);
}

.pilihHayu{
  background-color: rgb(2, 2, 138, 0.6);
  margin-top: 1.5em;
  width: auto;
  padding: 1.5em;
  padding-right: 2em;
  padding-left: 2em;
  height: auto;
  border-radius: 1em;
  display: inline-block;
}

.btn-dark{
  margin-top: 1em;
  padding: 0.8em 1.5em;
  font-weight: bold;
}

.loadingScreen{
  text-align: center;
  justify-content: center;
  display: grid;
  align-items: center;
  height: auto;
  margin-top: 25%;
}

.readyOrNot{
  background-color: rgb(2, 2, 138, 0.8);
  padding: 1em;
  border-radius: 0.6em;
}

.titleReady{
  color:white;
}

.ready{
  margin: 1em;
  padding: 0.8em;
  font-weight: bold;
}

.noU{
  margin: 1em;
  padding: 0.8em;
  font-weight: bold;
}

.gambarCharYeu{
  width: auto;
  height: 400px;
  margin-top: 0;
  padding: 40px;
}

.headerGamepage{
  position:relative;
  margin-left: 5em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.salam{
  text-align: center;
  margin-top: 1em;
  background-color: rgb(219, 181, 132, 0.6);
  margin-left: 8.5em;
  margin-right: 8.5em;
  padding: 0.3em;
  width: auto;
  border-radius: 0.3em;
}

.jurusan{
  position: relative;
  width: 100%;
  color: white;
  text-align: center;
}

.hari{
  position: relative;
  width: 100%;
  color: white;
  text-align: center;
}

.clockAndBar{
  background-color: rgb(72, 72, 187, 0.6);
  padding: 1em;
  position: relative;
  margin-top: 1em;
  width: 100%;
}

.bar{
  margin-left: 2em;
  margin-right: 2em;
  margin-top: 2em;
}

.progress{
  margin-top: 2em;
  appearance: none;
  height: 1.6em;
  margin-bottom: 1em;
  width: 100%;
}

.jam{
  position: relative;
  margin-top: 1em;
  margin-left: 23em;
  margin-bottom: 1em;
  width: 150px;
  height: 150px;
  margin-right: 1em;
  background-color: rgba(255, 255, 255, .8);
  border-radius: 50%;
  border: 2px solid black;
}

.jam .number{
  --rotation: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  transform: rotate(var(--rotation));
}

.jam .number1{ --rotation: 30deg; }
.jam .number2{ --rotation: 60deg; }
.jam .number3{ --rotation: 90deg; }
.jam .number4{ --rotation: 120deg; }
.jam .number5{ --rotation: 150deg; }
.jam .number6{ --rotation: 180deg; }
.jam .number7{ --rotation: 210deg; }
.jam .number8{ --rotation: 240deg; }
.jam .number9{ --rotation: 270deg; }
.jam .number10{ --rotation: 300deg; }
.jam .number11{ --rotation: 330deg; }
.jam .number12{ --rotation: 360deg; }

.jam .hand{
  --rotation: 0;
  position: absolute;
  bottom: 50%;
  left: 50%;
  width: 10px;
  height: 45%;
  background-color: black;
  border: 1px solid white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  z-index: 10;
  transform: translateX(-50%) rotate(calc(var(--rotation) * 1deg));
  transform-origin: bottom;
}

.jam::after{
  content:'';
  position: absolute;
  background-color: black;
  z-index: 11;
  width: 15px;
  height: 15px;
  top: 50%;
  transform: translate(450%, -50%);
  border-radius: 50%;
}

.jam .hand.minute{
  width: 7px;
  height: 40%;
  background-color: black;
}

.jam .hand.hour{
  width: 10px;
  height: 35%;
  background-color: black;
}

.icon1{
  position: relative;
  width: 1.5em;
  margin-top: 1.5em;
  margin-bottom: 1em;
  height: auto;
  color: white;
}

.icon2{
  width: 1.6em;
  margin-bottom: 1em;
  height: auto;
  color: white;
}

.icon3{
  width: 1.6em;
  margin-bottom: 1em;
  height: auto;
  color: white;
}

.icon4{
  width: 1.6em;
  height: auto;
  color: white;
}

.buttons{
  justify-content: flex-end;
  margin-top: 1em;
  padding: 1em;
  padding-left: 0;
  background-color: rgb(72, 72, 187, 0.6);
  border-top-right-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
}

.button{
  width: 120px;
  order: 2;
  padding: 0.4em;
  font-size: 1.2em;
  margin-top: 1em;
}

.semuaKecualiChar{
  display: flex;
}

.icons{
  position: absolute;
}

.goto{
  margin-top: 1em;
  background-color: rgb(72, 72, 187, 0.6);
  padding: 1em;
  padding-right: 0;
  border-top-left-radius: 0.5em;
  border-bottom-left-radius: 0.5em;
}

.buttonGo{
  margin-top: 1em;
  width: 150px;
  font-size: 17px;
}

.labelGo{
  color: white;
}

.buttonNest{
  margin-top: 0.5em;
  width: 5em;
  justify-content: center;
  position: relative;
}

.iconMakan{
  width: 30px;
  height: auto;
  margin-right: 0.3em;
  margin-top: 0.2em;
}